[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
psycopg2-binary = "*"
databases = {extras = ["postgresql"], version = "*"}
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
configparser = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.9"
